use('./dirname.js')

$theme-dir := __dirname()
// 修改主色调
//$primary-color := #289af4

// 修改button组件的padding值
//$btn-padding := 0 30px

//@import '~kpc/styles/themes/ksyun/index.styl'

@import '~kpc/styles/themes/default.styl'
